#controls-wrapper
  transform: translate(0px, 20px)
  opacity: 0
  transition: transform 0.2s ease-in-out,
              opacity 0.2s ease-in-out

  &.active
    transform: translate(0px, 0px)
    opacity: 1

#rule-color-label
  position: absolute
  top: 0px
  right: 0px
  color: #666

.controls-container
  position: relative
  text-align: center
  user-select: none
  border-top: 1px solid #ddd

  &:first-child
    border-top: none

.control-group
  display: inline-block
  vertical-align: top
  padding: 20px 20px
  border-right: 1px solid #ddd

  &:last-child
    border-right: none

.control-group > *
  margin-right: 5px

  &:last-child
    margin-right: 0px

.control-group p
  text-align: left
  margin: 0px 0px 5px 0px
  font-size: 12px
  color: #999

.focusable
  box-shadow: 0px 0px 0px 1px #bbb

  &:focus, &.focus
    outline: none
    box-shadow: 0px 0px 0px 2px #666

button
  position: relative
  height: 32px
  padding: 0px 10px
  color: #666
  border-radius: 6px
  border: none
  background-color: #fff
  transition: box-shadow 0.2s ease-in-out,
              color 0.2s ease-in-out

  &[disabled]
    border-color: #ddd
    color: #ddd
    box-shadow: 0px 0px 0px 1px #ddd

  &.iconified
    padding-left: 38px

  .icon
    position: absolute
    left: 10px
    top: 5px
    fill: #666

// Handle FF outlining inner input labels
button::-moz-focus-inner
  border: 0
